# Lychee Configuration
# Built on top of the example from https://lychee.cli.rs/usage/config/
#############################  Display  #############################

# Verbose program output
# Accepts log level: "error", "warn", "info", "debug", "trace"
verbose = "info"

# Don't show interactive progress bar while checking links.
no_progress = false

#############################  Cache  ###############################

# Enable link caching. This can be helpful to avoid checking the same links on
# multiple runs.
cache = false

# Discard all cached requests older than this duration.
# max_cache_age = "1h"

#############################  Runtime  #############################

# Number of threads to utilize.
# Defaults to number of cores available to the system if omitted.
# threads = 2

# Maximum number of allowed redirects.
max_redirects = 10

# Maximum number of allowed retries before a link is declared dead.
max_retries = 2

# Maximum number of concurrent link checks.
# max_concurrency = 14

#############################  Requests  ############################

# User agent to send with each request.
# user_agent = "curl/8.11.1"

# Website timeout from connect to response finished.
# Increase timeout for slower networks (default is 20s)
timeout = 30

# Minimum wait time in seconds between retries of failed requests.
retry_wait_time = 3

# Comma-separated list of accepted status codes for valid links.
# Supported values are:
#
# accept = ["200..=204", "429"]
# accept = "200..=204, 429"
# accept = ["200", "429"]
# accept = "200, 429"
accept = ["200", "429", "403"]

# Proceed for server connections considered insecure (invalid TLS).
insecure = false

# Only test links with the given schemes (e.g. https).
# Omit to check links with any other scheme.
# At the moment, we support http, https, file, and mailto.
# scheme = ["http", "https", "file", "mailto"]

# When links are available using HTTPS, treat HTTP links as errors.
require_https = false

# Request method
# method = "get"

# Custom request headers
# headers = []

# Remap URI matching pattern to different URI.
# remap = ["https://example.com http://example.invalid"]

# Base URL or website root directory to check relative URLs.
# base = "https://example.com"

# HTTP basic auth support. This will be the username and password passed to the
# authorization HTTP header. See
# <https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization>
# basic_auth = ["example.com user:pwd"]

#############################  Exclusions  ##########################
# Lycheeignore Configuration
# ignore_file = ".lycheeignore"
# Using the exclude flag to ignore links from the link checker

# Skip missing input files (default is to error if they don't exist).
skip_missing = false

# Check links inside `<code>` and `<pre>` blocks as well as Markdown code
# blocks.
include_verbatim = false

# Ignore case of paths when matching glob patterns.
glob_ignore_case = false

# Exclude URLs and mail addresses from checking (supports regex).
exclude = [
  # Excluded links
  '^https?://(www\.)?(nl\.)?linkedin\.com',
  '^https?://(twitter\.com|x\.com)',
  '^https?://intranet\.tudelft\.nl',
  '^https?://tudelft\.topdesk\.net',
  '^https?://help\.dreamhost\.com',
  '^https?://(www\.)?data\.4tu\.nl',
  '^https?://webdata\.tudelft\.nl',
  '^https?://weblogin\.tudelft\.nl',
  '^https?://www\.putty\.org',
  
  # Test/dummy environments
  '^https?://github\.com/your_repo',
  '^https?://doi\.org/11\.1111/11111',
  '^https?://next\.data\.4tu\.nl'
]

# Exclude these filesystem paths from getting checked.
exclude_path = ["docs/_under_development", "_site/docs/_under_development"]

# URLs to check (supports regex). Has preference over all excludes.
# Not being used and all links are being checked.
# include = ['gist\.github\.com.*']

# Exclude all private IPs from checking.
# Equivalent to setting `exclude_private`, `exclude_link_local`, and
# `exclude_loopback` to true.
exclude_all_private = false

# Exclude private IP address ranges from checking.
exclude_private = false

# Exclude link-local IP address range from checking.
exclude_link_local = false

# Exclude loopback IP address range and localhost from checking.
exclude_loopback = false

# Check mail addresses
include_mail = true