/*-- scss:defaults --*/

// tud colors
$tud-cyan: #00A6D6;
$tud-dark-blue: #0C2340;
$tud-turquoise: #00B8C8;
$tud-blue: #0076C2;
$tud-purple: #6F1D77;
$tud-pink: #EF60A3;
$tud-raspberry: #A50034;
$tud-red: #E03C31;
$tud-orange: #EC6842;
$tud-yellow: #FFB81C;
$tud-light-green: #6CC24A;
$tud-dark-green: #009B77;    
