@import 'variables';


/*-- scss:defaults --*/
$navbar-bg: $tud-cyan;
$navbar-fg: white;
$navbar-link-color: black;

// $font-family-sans-serif: 'Arial', sans-serif;
// $font-size-root: 15px;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

